#ifndef UNICODE
#define UNICODE
#endif

#include <windows.h>

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
1                       ICON                    "../../../assets/workbench.ico"
